flow.json
[{"id":"9596c410.fe1e08","type":"tab","label":"Call 5 day / 3 hour forecast data","disabled":false,"info":""},{"id":"de29fb9a.a854f8","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"ba7d881.25dde78","type":"subflow","name":"Convert weather icon to sun_cloud_rain_snow","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"835c173e.97ed08"}]}],"out":[{"x":820,"y":180,"wires":[{"id":"1ef66f8c.ff9cc","port":0},{"id":"c6780eb7.ddf99","port":0},{"id":"94a2ee98.c524b","port":0},{"id":"7f8e165b.2a3058","port":0},{"id":"35b661be.00237e","port":0},{"id":"142b90bd.1358ff","port":0},{"id":"cc6fcfdc.17ec5","port":0}]}],"env":[],"icon":"font-awesome/fa-cloud"},{"id":"29e98dcf.49cdd2","type":"subflow","name":"Convert hour and icon to Rpi pin","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"6b513b66.bebee4"}]}],"out":[],"env":[],"icon":"node-red/rpi.png"},{"id":"53bb66ef.614bd8","type":"inject","z":"9596c410.fe1e08","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":"","x":140,"y":100,"wires":[["2cee0ce5.8d9154"]]},{"id":"2cee0ce5.8d9154","type":"http request","z":"9596c410.fe1e08","name":"WeatherResponse","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/forecast?q=Milan,IT&units=metric&APPID=d076045f4ebbf2b7eb16aac16bb056ab","tls":"","proxy":"","x":334.5,"y":100,"wires":[["1d1302c5.6f9bcd","48296aee.051514"]]},{"id":"1d1302c5.6f9bcd","type":"debug","z":"9596c410.fe1e08","name":"WeatherResponse debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":100,"wires":[]},{"id":"239ce825.a06108","type":"split","z":"9596c410.fe1e08","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":300,"wires":[["b1bf7bb4.63d9e8","1076ca3f.1c60f6"]]},{"id":"48296aee.051514","type":"change","z":"9596c410.fe1e08","name":"Set msg.payload from list","rules":[{"t":"move","p":"payload.list","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":200,"wires":[["239ce825.a06108","a649bec0.195c4"]]},{"id":"b1bf7bb4.63d9e8","type":"debug","z":"9596c410.fe1e08","name":"split debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":300,"wires":[]},{"id":"a649bec0.195c4","type":"debug","z":"9596c410.fe1e08","name":"Set msg.payload from list","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":200,"wires":[]},{"id":"613f50ee.31fd1","type":"switch","z":"9596c410.fe1e08","name":"Switch by same day","property":"dt.day","propertyType":"msg","rules":[{"t":"eq","v":"dt_now.day","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":420,"wires":[["8f329690.f90428","9622accd.45216"],["e039bce0.59e26"]]},{"id":"8f329690.f90428","type":"debug","z":"9596c410.fe1e08","name":"same day debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":500,"wires":[]},{"id":"805230dd.3eb0d","type":"debug","z":"9596c410.fe1e08","name":"hour debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":520,"wires":[]},{"id":"1076ca3f.1c60f6","type":"function","z":"9596c410.fe1e08","name":"timeConvert","func":"//node.warn(\"dt=\" + (msg.payload.dt*1000));\n\nif ( !(msg.payload.dt) ) msg.payload.dt = Math.round(+new Date());\n\n//node.warn(\"dt=\" + (msg.payload.dt*1000));\n\nvar dt = new Date(msg.payload.dt*1000);\n\nvar dt_now = new Date();\n\nvar newmsg = {'dt': {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds(),\n\t'payload' : msg.payload\n},\n'dt_now':\n{\n\t'month':\tdt_now.getMonth() + 1,\n\t'day':\t\tdt_now.getDate(),\n\t'year':\t\tdt_now.getFullYear(),\n\t'hours':\tdt_now.getHours(),\n\t'mins':\t\tdt_now.getMinutes(),\n\t'msecs':\tdt_now.getMilliseconds()\n}\n}\n\n//node.warn(\"dt.day=\" + newmsg.dt.day + \",dt_now.day=\" + newmsg.dt_now.day );\n\nreturn newmsg;","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["613f50ee.31fd1","805230dd.3eb0d"]]},{"id":"e039bce0.59e26","type":"debug","z":"9596c410.fe1e08","name":"different day debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":580,"wires":[]},{"id":"9622accd.45216","type":"switch","z":"9596c410.fe1e08","name":"Switch by 8, 14, 20 and 23 hour","property":"dt.hours","propertyType":"msg","rules":[{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":910,"y":414,"wires":[["abf253bc.26ff2","2e16dd62.552472"],["abf253bc.26ff2","fdd00fcd.c9364"],["abf253bc.26ff2","dbc37810.2fc348"],["abf253bc.26ff2","a054730c.eddb6"],["35255c12.b655e4"]]},{"id":"abf253bc.26ff2","type":"debug","z":"9596c410.fe1e08","name":"8, 14, 20 and 23 hour debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1240,"y":320,"wires":[]},{"id":"35255c12.b655e4","type":"debug","z":"9596c410.fe1e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":780,"wires":[]},{"id":"2e16dd62.552472","type":"function","z":"9596c410.fe1e08","name":"Weather at 08:00","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":360,"wires":[["929053d2.7c3a","7797546e.570d2c","72d4b0f2.7bf1e"]]},{"id":"fdd00fcd.c9364","type":"function","z":"9596c410.fe1e08","name":"Weather at 14:00","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":520,"wires":[["a57de72f.ce3f78"]]},{"id":"dbc37810.2fc348","type":"function","z":"9596c410.fe1e08","name":"Weather at 20:00","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":680,"wires":[["47f4e0e0.eaaaa"]]},{"id":"a054730c.eddb6","type":"function","z":"9596c410.fe1e08","name":"Weather at 23:00","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":720,"wires":[["5ba55d72.fcb274"]]},{"id":"929053d2.7c3a","type":"debug","z":"9596c410.fe1e08","name":"Weather at 08:00 debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1690,"y":360,"wires":[]},{"id":"a57de72f.ce3f78","type":"debug","z":"9596c410.fe1e08","name":"Weather at 14:00 debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1458,"y":520,"wires":[]},{"id":"47f4e0e0.eaaaa","type":"debug","z":"9596c410.fe1e08","name":"Weather at 20:00 debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1458,"y":680,"wires":[]},{"id":"5ba55d72.fcb274","type":"debug","z":"9596c410.fe1e08","name":"Weather at 23:00 debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1458,"y":720,"wires":[]},{"id":"835c173e.97ed08","type":"switch","z":"ba7d881.25dde78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"200","vt":"num","v2":"232","v2t":"num"},{"t":"btwn","v":"300","vt":"num","v2":"321","v2t":"num"},{"t":"btwn","v":"500","vt":"num","v2":"531","v2t":"num"},{"t":"btwn","v":"600","vt":"num","v2":"622","v2t":"num"},{"t":"btwn","v":"701","vt":"num","v2":"781","v2t":"num"},{"t":"eq","v":"800","vt":"str"},{"t":"btwn","v":"801","vt":"num","v2":"804","v2t":"num"}],"checkall":"true","repair":false,"outputs":7,"x":270,"y":180,"wires":[["1ef66f8c.ff9cc"],["c6780eb7.ddf99"],["94a2ee98.c524b"],["7f8e165b.2a3058"],["35b661be.00237e"],["142b90bd.1358ff"],["cc6fcfdc.17ec5"]]},{"id":"1ef66f8c.ff9cc","type":"function","z":"ba7d881.25dde78","name":"Group 2xx: Thunderstorm","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":60,"wires":[[]]},{"id":"c6780eb7.ddf99","type":"function","z":"ba7d881.25dde78","name":"Group 3xx: Drizzle","func":"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":100,"wires":[[]]},{"id":"94a2ee98.c524b","type":"function","z":"ba7d881.25dde78","name":"Group 5xx: Rain","func":"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":140,"wires":[[]]},{"id":"7f8e165b.2a3058","type":"function","z":"ba7d881.25dde78","name":"Group 6xx: Snow","func":"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":180,"wires":[[]]},{"id":"35b661be.00237e","type":"function","z":"ba7d881.25dde78","name":"Group 7xx: Atmosphere","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[[]]},{"id":"142b90bd.1358ff","type":"function","z":"ba7d881.25dde78","name":"Group 800: Clear","func":"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":260,"wires":[[]]},{"id":"cc6fcfdc.17ec5","type":"function","z":"ba7d881.25dde78","name":"Group 80x: Clouds","func":"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":300,"wires":[[]]},{"id":"6b513b66.bebee4","type":"switch","z":"29e98dcf.49cdd2","name":"Switch by 8, 14, 20 and 23 hour","property":"dt.hours","propertyType":"msg","rules":[{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":290,"y":420,"wires":[["84b8e847.87e608"],["3d7a83a5.e8d41c"],["9f058c4d.f070f"],["e2e4f59.93f5008"],[]]},{"id":"84b8e847.87e608","type":"switch","z":"29e98dcf.49cdd2","name":"Switch by sun, cloud, rain and snow at 08:00","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sun","vt":"str"},{"t":"eq","v":"cloud","vt":"str"},{"t":"eq","v":"rain","vt":"str"},{"t":"eq","v":"snow","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":140,"wires":[["da4a140d.c24538"],["90029a57.6dca48"],["cab74f02.35116"],["4953dc28.82f454"]]},{"id":"3d7a83a5.e8d41c","type":"switch","z":"29e98dcf.49cdd2","name":"Switch by sun, cloud, rain and snow at 14:00","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sun","vt":"str"},{"t":"eq","v":"cloud","vt":"str"},{"t":"eq","v":"rain","vt":"str"},{"t":"eq","v":"snow","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":320,"wires":[["c2779883.641ce8"],["ebfa328b.898ef"],["7c007535.c1136c"],["cac7850f.ad9328"]]},{"id":"9f058c4d.f070f","type":"switch","z":"29e98dcf.49cdd2","name":"Switch by sun, cloud, rain and snow at 14:00","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sun","vt":"str"},{"t":"eq","v":"cloud","vt":"str"},{"t":"eq","v":"rain","vt":"str"},{"t":"eq","v":"snow","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":500,"wires":[["60cc25ac.b6515c"],["37a9fd3c.0c6702"],["398740de.8be0a"],["33a4967b.e0b46a"]]},{"id":"e2e4f59.93f5008","type":"switch","z":"29e98dcf.49cdd2","name":"Switch by sun, cloud, rain and snow at 14:00","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sun","vt":"str"},{"t":"eq","v":"cloud","vt":"str"},{"t":"eq","v":"rain","vt":"str"},{"t":"eq","v":"snow","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":680,"wires":[["c59b46eb.512888"],["d16e40ea.707c5"],["9ff74316.64a77"],["dade1328.b3916"]]},{"id":"da4a140d.c24538","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO18 - pin 12","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":80,"wires":[[]]},{"id":"90029a57.6dca48","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO23 - pin 16","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":120,"wires":[[]]},{"id":"cab74f02.35116","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO24 - pin 18","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":160,"wires":[[]]},{"id":"4953dc28.82f454","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO25 - pin 22","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":200,"wires":[[]]},{"id":"c2779883.641ce8","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO12 - pin 32","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":260,"wires":[[]]},{"id":"ebfa328b.898ef","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO16 - pin 36","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":300,"wires":[[]]},{"id":"7c007535.c1136c","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO20 - pin 38","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":340,"wires":[[]]},{"id":"cac7850f.ad9328","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO21 - pin 40","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":380,"wires":[[]]},{"id":"60cc25ac.b6515c","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO26 - pin 37","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":440,"wires":[[]]},{"id":"37a9fd3c.0c6702","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO19 - pin 35","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":480,"wires":[[]]},{"id":"398740de.8be0a","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO13 - pin 33","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":520,"wires":[[]]},{"id":"33a4967b.e0b46a","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO6 - pin 31","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":560,"wires":[[]]},{"id":"7797546e.570d2c","type":"subflow:29e98dcf.49cdd2","z":"9596c410.fe1e08","name":"","x":1710,"y":400,"wires":[]},{"id":"b50641f.e683fc","type":"inject","z":"de29fb9a.a854f8","name":"Switch on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[["fd7fae6e.7d95"]]},{"id":"fd7fae6e.7d95","type":"function","z":"de29fb9a.a854f8","name":"Switch on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["130e462c.a2af0a","f93f2f01.c80e2","d33a5c02.ce00e"]]},{"id":"5f45b053.77ea3","type":"inject","z":"de29fb9a.a854f8","name":"Switch off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":200,"wires":[["1aaee79e.5a6f68"]]},{"id":"1aaee79e.5a6f68","type":"function","z":"de29fb9a.a854f8","name":"Switch off","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["f5caae7.0b2e45"]]},{"id":"72d4b0f2.7bf1e","type":"subflow:ba7d881.25dde78","z":"9596c410.fe1e08","name":"","env":[],"x":1490,"y":460,"wires":[["7797546e.570d2c"]]},{"id":"130e462c.a2af0a","type":"debug","z":"de29fb9a.a854f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":100,"wires":[]},{"id":"f5caae7.0b2e45","type":"debug","z":"de29fb9a.a854f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":260,"wires":[]},{"id":"c59b46eb.512888","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO05 - pin 29","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":620,"wires":[[]]},{"id":"d16e40ea.707c5","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO22 - pin 15","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":660,"wires":[[]]},{"id":"9ff74316.64a77","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO27 - pin 13","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":700,"wires":[[]]},{"id":"dade1328.b3916","type":"function","z":"29e98dcf.49cdd2","name":"Pull up GPIO17 - pin 11","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":740,"wires":[[]]},{"id":"f93f2f01.c80e2","type":"exec","z":"de29fb9a.a854f8","command":"python /usr/src/node-red/max7219/examples/matrix_demo.py;","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":400,"wires":[[],[],[]]},{"id":"d33a5c02.ce00e","type":"python-function","z":"de29fb9a.a854f8","name":"led python","func":"from luma.led_matrix.device import max7219\nimport max7219.led as led\n\ndevice = led.matrix()\ndevice.show_message(\"Hello world!\")\n\nreturn msg","outputs":1,"x":610,"y":180,"wires":[[]]}]