flow.json
[{"id":"9596c410.fe1e08","type":"tab","label":"Call 5 day / 3 hour forecast data","disabled":false,"info":""},{"id":"de29fb9a.a854f8","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"92485677.32e768","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ba7d881.25dde78","type":"subflow","name":"Convert weather icon to sun_cloud_rain_snow","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"835c173e.97ed08"}]}],"out":[{"x":820,"y":180,"wires":[{"id":"1ef66f8c.ff9cc","port":0},{"id":"c6780eb7.ddf99","port":0},{"id":"94a2ee98.c524b","port":0},{"id":"7f8e165b.2a3058","port":0},{"id":"35b661be.00237e","port":0},{"id":"142b90bd.1358ff","port":0},{"id":"cc6fcfdc.17ec5","port":0}]}],"env":[],"color":"#DDAA99","icon":"font-awesome/fa-cloud"},{"id":"29e98dcf.49cdd2","type":"subflow","name":"Convert hour and icon to Rpi pin","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"6b513b66.bebee4"},{"id":"19655eea.93d561"}]}],"out":[{"x":1320,"y":400,"wires":[{"id":"6d347571.79125c","port":0},{"id":"c25bc947.c65638","port":0},{"id":"df15f705.6356e8","port":0},{"id":"564a83e2.2ee8dc","port":0},{"id":"6d58371.7408cc8","port":0},{"id":"e2fb0047.7921f","port":0},{"id":"d977767a.d99748","port":0},{"id":"853b3f7d.e96e2","port":0},{"id":"4cf37f41.57a81","port":0},{"id":"548e01ed.e5bfe","port":0},{"id":"1995b804.b7ff48","port":0},{"id":"ed8d5d41.3ff6e","port":0},{"id":"ac8a10c4.5b80a","port":0},{"id":"f5c5d2b6.28068","port":0},{"id":"af6a4dec.9bdbb","port":0},{"id":"cb65f723.c92408","port":0}]}],"env":[],"icon":"node-red/rpi.png"},{"id":"53bb66ef.614bd8","type":"inject","z":"9596c410.fe1e08","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":"","x":140,"y":100,"wires":[["2cee0ce5.8d9154"]]},{"id":"2cee0ce5.8d9154","type":"http request","z":"9596c410.fe1e08","name":"WeatherResponse","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/forecast?q=Milan,IT&units=metric&APPID=d076045f4ebbf2b7eb16aac16bb056ab","tls":"","proxy":"","x":334.5,"y":100,"wires":[["1d1302c5.6f9bcd","3104d623.b8b36a"]]},{"id":"1d1302c5.6f9bcd","type":"debug","z":"9596c410.fe1e08","name":"WeatherResponse debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":100,"wires":[]},{"id":"239ce825.a06108","type":"split","z":"9596c410.fe1e08","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":400,"wires":[["b1bf7bb4.63d9e8","1076ca3f.1c60f6"]]},{"id":"48296aee.051514","type":"change","z":"9596c410.fe1e08","name":"Set msg.payload from list","rules":[{"t":"move","p":"payload.list","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":280,"wires":[["239ce825.a06108","a649bec0.195c4"]]},{"id":"b1bf7bb4.63d9e8","type":"debug","z":"9596c410.fe1e08","name":"split debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":400,"wires":[]},{"id":"a649bec0.195c4","type":"debug","z":"9596c410.fe1e08","name":"Set msg.payload from list","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":280,"wires":[]},{"id":"613f50ee.31fd1","type":"switch","z":"9596c410.fe1e08","name":"Switch by same day","property":"dt.day","propertyType":"msg","rules":[{"t":"eq","v":"dt_now.day","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":786,"y":520,"wires":[["8f329690.f90428","9622accd.45216"],["e039bce0.59e26"]]},{"id":"8f329690.f90428","type":"debug","z":"9596c410.fe1e08","name":"same day debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1062,"y":640,"wires":[]},{"id":"805230dd.3eb0d","type":"debug","z":"9596c410.fe1e08","name":"hour debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":616,"y":620,"wires":[]},{"id":"1076ca3f.1c60f6","type":"function","z":"9596c410.fe1e08","name":"timeConvert","func":"//node.warn(\"dt=\" + (msg.payload.dt*1000));\n\nif ( !(msg.payload.dt) ) msg.payload.dt = Math.round(+new Date());\n\n//node.warn(\"dt=\" + (msg.payload.dt*1000));\n\nvar dt = new Date(msg.payload.dt*1000);\n\nvar dt_now = new Date();\n\nvar newmsg = {'dt': {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds(),\n\t'payload' : msg.payload\n},\n'dt_now':\n{\n\t'month':\tdt_now.getMonth() + 1,\n\t'day':\t\tdt_now.getDate(),\n\t'year':\t\tdt_now.getFullYear(),\n\t'hours':\tdt_now.getHours(),\n\t'mins':\t\tdt_now.getMinutes(),\n\t'msecs':\tdt_now.getMilliseconds()\n}\n}\n\n//node.warn(\"dt.day=\" + newmsg.dt.day + \",dt_now.day=\" + newmsg.dt_now.day );\n\nreturn newmsg;","outputs":1,"noerr":0,"x":556,"y":520,"wires":[["613f50ee.31fd1","805230dd.3eb0d"]]},{"id":"e039bce0.59e26","type":"debug","z":"9596c410.fe1e08","name":"different day debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1042,"y":740,"wires":[]},{"id":"9622accd.45216","type":"switch","z":"9596c410.fe1e08","name":"Switch by 8, 14, 20 and 23 hour","property":"dt.hours","propertyType":"msg","rules":[{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":1310,"y":514,"wires":[["abf253bc.26ff2","2e16dd62.552472"],["abf253bc.26ff2","fdd00fcd.c9364"],["abf253bc.26ff2","dbc37810.2fc348"],["abf253bc.26ff2","a054730c.eddb6"],["35255c12.b655e4"]]},{"id":"abf253bc.26ff2","type":"debug","z":"9596c410.fe1e08","name":"8, 14, 20 and 23 hour debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1640,"y":380,"wires":[]},{"id":"35255c12.b655e4","type":"debug","z":"9596c410.fe1e08","name":"otherwise debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1610,"y":1120,"wires":[]},{"id":"2e16dd62.552472","type":"function","z":"9596c410.fe1e08","name":"Weather at 08:00","func":"var newmsg = msg;\nnewmsg.hour = 8;\n//newmsg.trigger = 1;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1610,"y":460,"wires":[["929053d2.7c3a","72d4b0f2.7bf1e"]]},{"id":"fdd00fcd.c9364","type":"function","z":"9596c410.fe1e08","name":"Weather at 14:00","func":"var newmsg = msg;\nnewmsg.hour = 14;\n//newmsg.trigger = 1;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1610,"y":620,"wires":[["a57de72f.ce3f78","7f9cc189.4dea1"]]},{"id":"dbc37810.2fc348","type":"function","z":"9596c410.fe1e08","name":"Weather at 20:00","func":"var newmsg = msg;\nnewmsg.hour = 20;\n//newmsg.trigger = 1;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1610,"y":780,"wires":[["47f4e0e0.eaaaa","78f57064.80725"]]},{"id":"a054730c.eddb6","type":"function","z":"9596c410.fe1e08","name":"Weather at 23:00","func":"var newmsg = msg;\nnewmsg.hour = 23;\n//newmsg.trigger = 1;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1610,"y":940,"wires":[["5ba55d72.fcb274","bc726170.fa8d6"]]},{"id":"929053d2.7c3a","type":"debug","z":"9596c410.fe1e08","name":"Weather at 08:00 debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1870,"y":460,"wires":[]},{"id":"a57de72f.ce3f78","type":"debug","z":"9596c410.fe1e08","name":"Weather at 14:00 debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1870,"y":620,"wires":[]},{"id":"47f4e0e0.eaaaa","type":"debug","z":"9596c410.fe1e08","name":"Weather at 20:00 debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1858,"y":780,"wires":[]},{"id":"5ba55d72.fcb274","type":"debug","z":"9596c410.fe1e08","name":"Weather at 23:00 debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1858,"y":940,"wires":[]},{"id":"835c173e.97ed08","type":"switch","z":"ba7d881.25dde78","name":"","property":"dt.payload.weather[0].id","propertyType":"msg","rules":[{"t":"btwn","v":"200","vt":"num","v2":"232","v2t":"num"},{"t":"btwn","v":"300","vt":"num","v2":"321","v2t":"num"},{"t":"btwn","v":"500","vt":"num","v2":"531","v2t":"num"},{"t":"btwn","v":"600","vt":"num","v2":"622","v2t":"num"},{"t":"btwn","v":"701","vt":"num","v2":"781","v2t":"num"},{"t":"eq","v":"800","vt":"str"},{"t":"btwn","v":"801","vt":"num","v2":"804","v2t":"num"}],"checkall":"true","repair":false,"outputs":7,"x":270,"y":180,"wires":[["1ef66f8c.ff9cc"],["c6780eb7.ddf99"],["94a2ee98.c524b"],["7f8e165b.2a3058"],["35b661be.00237e"],["142b90bd.1358ff"],["cc6fcfdc.17ec5"]]},{"id":"1ef66f8c.ff9cc","type":"function","z":"ba7d881.25dde78","name":"Group 2xx: Thunderstorm","func":"var newmsg = msg;\nmsg.icon = \"rain\";\nreturn newmsg;","outputs":1,"noerr":0,"x":530,"y":60,"wires":[[]]},{"id":"c6780eb7.ddf99","type":"function","z":"ba7d881.25dde78","name":"Group 3xx: Drizzle","func":"var newmsg = msg;\nmsg.icon = \"rain\";\nreturn newmsg;","outputs":1,"noerr":0,"x":510,"y":100,"wires":[[]]},{"id":"94a2ee98.c524b","type":"function","z":"ba7d881.25dde78","name":"Group 5xx: Rain","func":"var newmsg = msg;\nmsg.icon = \"rain\";\nreturn newmsg;","outputs":1,"noerr":0,"x":500,"y":140,"wires":[[]]},{"id":"7f8e165b.2a3058","type":"function","z":"ba7d881.25dde78","name":"Group 6xx: Snow","func":"var newmsg = msg;\nmsg.icon = \"snow\";\nreturn newmsg;","outputs":1,"noerr":0,"x":510,"y":180,"wires":[[]]},{"id":"35b661be.00237e","type":"function","z":"ba7d881.25dde78","name":"Group 7xx: Atmosphere","func":"var newmsg = msg;\nmsg.icon = \"clouds\";\nreturn newmsg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[[]]},{"id":"142b90bd.1358ff","type":"function","z":"ba7d881.25dde78","name":"Group 800: Clear","func":"var newmsg = msg;\nmsg.icon = \"sun\";\nreturn newmsg;","outputs":1,"noerr":0,"x":510,"y":260,"wires":[[]]},{"id":"cc6fcfdc.17ec5","type":"function","z":"ba7d881.25dde78","name":"Group 80x: Clouds","func":"var newmsg = msg;\nmsg.icon = \"clouds\";\nreturn newmsg;","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["b99320a5.e529"]]},{"id":"6b513b66.bebee4","type":"switch","z":"29e98dcf.49cdd2","name":"Switch by 8, 14, 20 and 23 hour","property":"hour","propertyType":"msg","rules":[{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":290,"y":420,"wires":[["84b8e847.87e608","9333823f.a043e"],["3d7a83a5.e8d41c","9333823f.a043e"],["9f058c4d.f070f","9333823f.a043e"],["e2e4f59.93f5008","9333823f.a043e"],[]]},{"id":"84b8e847.87e608","type":"switch","z":"29e98dcf.49cdd2","name":"Switch by sun, clouds, rain and snow at 08:00","property":"icon","propertyType":"msg","rules":[{"t":"eq","v":"sun","vt":"str"},{"t":"eq","v":"clouds","vt":"str"},{"t":"eq","v":"rain","vt":"str"},{"t":"eq","v":"snow","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":700,"y":140,"wires":[["6d347571.79125c"],["c25bc947.c65638"],["df15f705.6356e8"],["564a83e2.2ee8dc"]]},{"id":"3d7a83a5.e8d41c","type":"switch","z":"29e98dcf.49cdd2","name":"Switch by sun, clouds, rain and snow at 14:00","property":"icon","propertyType":"msg","rules":[{"t":"eq","v":"sun","vt":"str"},{"t":"eq","v":"clouds","vt":"str"},{"t":"eq","v":"rain","vt":"str"},{"t":"eq","v":"snow","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":700,"y":320,"wires":[["6d58371.7408cc8"],["e2fb0047.7921f"],["d977767a.d99748"],["853b3f7d.e96e2"]]},{"id":"9f058c4d.f070f","type":"switch","z":"29e98dcf.49cdd2","name":"Switch by sun, clouds, rain and snow at 20:00","property":"icon","propertyType":"msg","rules":[{"t":"eq","v":"sun","vt":"str"},{"t":"eq","v":"clouds","vt":"str"},{"t":"eq","v":"rain","vt":"str"},{"t":"eq","v":"snow","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":700,"y":500,"wires":[["4cf37f41.57a81"],["548e01ed.e5bfe"],["1995b804.b7ff48"],["ed8d5d41.3ff6e"]]},{"id":"e2e4f59.93f5008","type":"switch","z":"29e98dcf.49cdd2","name":"Switch by sun, cloud, rain and snow at 23:00","property":"icon","propertyType":"msg","rules":[{"t":"eq","v":"sun","vt":"str"},{"t":"eq","v":"clouds","vt":"str"},{"t":"eq","v":"rain","vt":"str"},{"t":"eq","v":"snow","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":680,"wires":[["ac8a10c4.5b80a"],["f5c5d2b6.28068"],["af6a4dec.9bdbb"],["cb65f723.c92408"]]},{"id":"b50641f.e683fc","type":"inject","z":"de29fb9a.a854f8","name":"Switch on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[["fd7fae6e.7d95"]]},{"id":"fd7fae6e.7d95","type":"function","z":"de29fb9a.a854f8","name":"Switch on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["130e462c.a2af0a","c18fd6b6.bd00f8"]]},{"id":"5f45b053.77ea3","type":"inject","z":"de29fb9a.a854f8","name":"Switch off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":200,"wires":[["1aaee79e.5a6f68"]]},{"id":"1aaee79e.5a6f68","type":"function","z":"de29fb9a.a854f8","name":"Switch off","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["f5caae7.0b2e45"]]},{"id":"72d4b0f2.7bf1e","type":"subflow:ba7d881.25dde78","z":"9596c410.fe1e08","name":"","env":[],"x":1900,"y":520,"wires":[["4d01ba43.0753b4","474472e7.09913c"]]},{"id":"130e462c.a2af0a","type":"debug","z":"de29fb9a.a854f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":100,"wires":[]},{"id":"f5caae7.0b2e45","type":"debug","z":"de29fb9a.a854f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":260,"wires":[]},{"id":"d33a5c02.ce00e","type":"python-function","z":"de29fb9a.a854f8","name":"led python","func":"#from luma.led_matrix.device import max7219\n#import max7219.led as led\n\n#device = led.matrix()\n#device.show_message(\"Hello world!\")\n\nimport time\nfrom luma.led_matrix.device import max7219\nfrom luma.core.interface.serial import spi, noop\nfrom luma.core.legacy import show_message\nfrom luma.core.legacy.font import proportional, CP437_FONT\nfrom luma.core.render import canvas\nfrom luma.core.virtual import viewport\n\nserial = spi(port=0, device=0, gpio=noop())\nn = 1\nblock_orientation = 0\nrotate = 0\ninreverse = False\ndevice = max7219(serial, cascaded=n or 1, block_orientation=block_orientation,\n                     rotate=rotate or 0, blocks_arranged_in_reverse_order=inreverse)\nprint(\"Created device\")\n\n#for x in range(8):\n#    for y in range(8):\n#        with canvas(device) as draw:\n#            print(\"Accendi Led  \", x, \",\", y, \" per 5 secondi\") \n#            draw.point((x, y), fill=\"white\")\n#            time.sleep(5)\n\ndevice.clear()\n\n#for x in range(0,4,1):\n#    for y in range(7,2,-1):\n#        with canvas(device) as draw:\n#            print(\"Accendi Led  \", x, \",\", y, \" per 5 secondi\") \n#            draw.point((x, y), fill=\"white\")\n#            time.sleep(5)\n\nprint(\"Accendo primo sole\")\nwith canvas(device) as draw:\n    draw.point((0, 7), fill=\"white\")\ntime.sleep(5)\n\nprint(\"Accendo prima nuvola\")\nwith canvas(device) as draw:\n    draw.point((0, 6), fill=\"white\")\n    draw.point((0, 5), fill=\"white\")\ntime.sleep(5)\n\nprint(\"Accendo prima pioggia\")\nwith canvas(device) as draw:\n    draw.point((0, 4), fill=\"white\")\ntime.sleep(5)\n\nprint(\"Accendo prima neve\")\nwith canvas(device) as draw:\n    draw.point((0, 3), fill=\"white\")\ntime.sleep(5)\n\nprint(\"Accendo secondo sole\")\nwith canvas(device) as draw:\n    draw.point((1, 7), fill=\"white\")\ntime.sleep(5)\n\n\n\nprint(\"Accendo prima riga\")\nfor y in range(8):\n    with canvas(device) as draw:\n        print(\"Accendo led \", 0, \",\", y)\n        draw.point((0, y), fill=\"white\")\n        time.sleep(5)\n\ndevice.clear()\ndevice.contrast(0x80)\n\nprint(\"Fine\")\n\nreturn msg","outputs":1,"x":611,"y":180,"wires":[[]]},{"id":"4d01ba43.0753b4","type":"debug","z":"9596c410.fe1e08","name":"Convert weather icon at 08:00","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2240,"y":560,"wires":[]},{"id":"b99320a5.e529","type":"debug","z":"ba7d881.25dde78","name":"clouds debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":340,"wires":[]},{"id":"19655eea.93d561","type":"debug","z":"29e98dcf.49cdd2","name":"convert hour debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":280,"y":80,"wires":[]},{"id":"474472e7.09913c","type":"subflow:29e98dcf.49cdd2","z":"9596c410.fe1e08","name":"","env":[],"x":2270,"y":520,"wires":[["e235e4db.3a25d8"]]},{"id":"9333823f.a043e","type":"debug","z":"29e98dcf.49cdd2","name":"Switch by 8, 14, 20 and 23 hour debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":240,"wires":[]},{"id":"3104d623.b8b36a","type":"python-function","z":"9596c410.fe1e08","name":"clear display","func":"import time\nfrom luma.led_matrix.device import max7219\nfrom luma.core.interface.serial import spi, noop\nfrom luma.core.legacy import show_message\nfrom luma.core.legacy.font import proportional, CP437_FONT\nfrom luma.core.render import canvas\nfrom luma.core.virtual import viewport\n\nserial = spi(port=0, device=0, gpio=noop())\nn = 1\nblock_orientation = 0\nrotate = 0\ninreverse = False\ndevice = max7219(serial, cascaded=n or 1, block_orientation=block_orientation,\n                     rotate=rotate or 0, blocks_arranged_in_reverse_order=inreverse)\n\ndevice.clear()\n\nreturn msg","outputs":1,"x":161,"y":200,"wires":[["296f2284.de7aee"]]},{"id":"7f9cc189.4dea1","type":"subflow:ba7d881.25dde78","z":"9596c410.fe1e08","name":"","env":[],"x":1900,"y":680,"wires":[["cf872af0.d97948","deeb04de.028428"]]},{"id":"cf872af0.d97948","type":"debug","z":"9596c410.fe1e08","name":"Convert weather icon at 14:00","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2240,"y":720,"wires":[]},{"id":"deeb04de.028428","type":"subflow:29e98dcf.49cdd2","z":"9596c410.fe1e08","name":"","env":[],"x":2270,"y":680,"wires":[["e235e4db.3a25d8"]]},{"id":"78f57064.80725","type":"subflow:ba7d881.25dde78","z":"9596c410.fe1e08","name":"","env":[],"x":1900,"y":840,"wires":[["2e20379d.91d558","3aaf84d9.bb20fc"]]},{"id":"2e20379d.91d558","type":"debug","z":"9596c410.fe1e08","name":"Convert weather icon at 20:00","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2240,"y":880,"wires":[]},{"id":"3aaf84d9.bb20fc","type":"subflow:29e98dcf.49cdd2","z":"9596c410.fe1e08","name":"","env":[],"x":2270,"y":840,"wires":[["e235e4db.3a25d8"]]},{"id":"bc726170.fa8d6","type":"subflow:ba7d881.25dde78","z":"9596c410.fe1e08","name":"","env":[],"x":1900,"y":1000,"wires":[["cea63698.d67798","f521350f.f59638"]]},{"id":"cea63698.d67798","type":"debug","z":"9596c410.fe1e08","name":"Convert weather icon at 23:00","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2240,"y":1040,"wires":[]},{"id":"f521350f.f59638","type":"subflow:29e98dcf.49cdd2","z":"9596c410.fe1e08","name":"","env":[],"x":2270,"y":1000,"wires":[["e235e4db.3a25d8","e7378d3d.72b5f"]]},{"id":"2962ec30.a4a8a4","type":"inject","z":"92485677.32e768","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":120,"wires":[["5eef65dd.e6abbc"]]},{"id":"4bf259e2.6589e8","type":"debug","z":"92485677.32e768","name":"","active":true,"console":"false","complete":"true","x":750,"y":120,"wires":[]},{"id":"d9751177.f1b6b","type":"inject","z":"92485677.32e768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":220,"wires":[["e299f0e0.5b481"]]},{"id":"e299f0e0.5b481","type":"change","z":"92485677.32e768","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":220,"wires":[["5eef65dd.e6abbc"]]},{"id":"4ce330ee.d2b63","type":"inject","z":"92485677.32e768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":280,"wires":[["b01ba637.8e5bb8"]]},{"id":"b01ba637.8e5bb8","type":"change","z":"92485677.32e768","name":"Bypass set to true","rules":[{"t":"set","p":"bypass","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":280,"wires":[["5eef65dd.e6abbc"]]},{"id":"f387b67f.27ea78","type":"inject","z":"92485677.32e768","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":80,"wires":[["f534eb6d.5c80b8"]]},{"id":"f534eb6d.5c80b8","type":"change","z":"92485677.32e768","name":"","rules":[{"t":"set","p":"ttl","pt":"msg","to":"2000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":80,"wires":[["5eef65dd.e6abbc"]]},{"id":"ba6dbd7a.03585","type":"inject","z":"92485677.32e768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":320,"wires":[["6613da53.2f43a4"]]},{"id":"6613da53.2f43a4","type":"change","z":"92485677.32e768","name":"Bypass set to false","rules":[{"t":"set","p":"bypass","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":320,"wires":[["5eef65dd.e6abbc"]]},{"id":"2f38f9e7.5ea8d6","type":"inject","z":"92485677.32e768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":180,"wires":[["9f7509ad.1ca7f8"]]},{"id":"9f7509ad.1ca7f8","type":"change","z":"92485677.32e768","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":180,"wires":[["5eef65dd.e6abbc"]]},{"id":"5eef65dd.e6abbc","type":"simple-queue","z":"92485677.32e768","name":"queue1","firstMessageBypass":true,"bypassInterval":"0","x":560,"y":120,"wires":[["4bf259e2.6589e8"]]},{"id":"c18fd6b6.bd00f8","type":"python-function","z":"de29fb9a.a854f8","name":"Cloud at 08:00","func":"import time\nfrom luma.led_matrix.device import max7219\nfrom luma.core.interface.serial import spi, noop\nfrom luma.core.legacy import show_message\nfrom luma.core.legacy.font import proportional, CP437_FONT\nfrom luma.core.render import canvas\nfrom luma.core.virtual import viewport\n\nserial = spi(port=0, device=0, gpio=noop())\nn = 1\nblock_orientation = 0\nrotate = 0\ninreverse = False\ndevice = max7219(serial, cascaded=n or 1, block_orientation=block_orientation,\n                     rotate=rotate or 0, blocks_arranged_in_reverse_order=inreverse)\n\nprint(\"Accendo prima nuvola\")\nwith canvas(device) as draw:\n    draw.point((0, 6), fill=\"white\")\n    draw.point((0, 5), fill=\"white\")\n\nreturn msg","outputs":1,"x":800,"y":140,"wires":[["3c7c0fd5.659d9"]]},{"id":"3c7c0fd5.659d9","type":"python-function","z":"de29fb9a.a854f8","name":"Cloud at 14:00","func":"import time\nfrom luma.led_matrix.device import max7219\nfrom luma.core.interface.serial import spi, noop\nfrom luma.core.legacy import show_message\nfrom luma.core.legacy.font import proportional, CP437_FONT\nfrom luma.core.render import canvas\nfrom luma.core.virtual import viewport\n\nserial = spi(port=0, device=0, gpio=noop())\nn = 1\nblock_orientation = 0\nrotate = 0\ninreverse = False\ndevice = max7219(serial, cascaded=n or 1, block_orientation=block_orientation,\n                     rotate=rotate or 0, blocks_arranged_in_reverse_order=inreverse)\n\nprint(\"Accendo prima nuvola\")\nwith canvas(device) as draw:\n    draw.point((1, 6), fill=\"white\")\n    draw.point((1, 5), fill=\"white\")\n\nreturn msg","outputs":1,"x":800,"y":320,"wires":[["16ab47d7.9b1538"]]},{"id":"16ab47d7.9b1538","type":"python-function","z":"de29fb9a.a854f8","name":"Cloud at 20:00","func":"import time\nfrom luma.led_matrix.device import max7219\nfrom luma.core.interface.serial import spi, noop\nfrom luma.core.legacy import show_message\nfrom luma.core.legacy.font import proportional, CP437_FONT\nfrom luma.core.render import canvas\nfrom luma.core.virtual import viewport\n\nserial = spi(port=0, device=0, gpio=noop())\nn = 1\nblock_orientation = 0\nrotate = 0\ninreverse = False\ndevice = max7219(serial, cascaded=n or 1, block_orientation=block_orientation,\n                     rotate=rotate or 0, blocks_arranged_in_reverse_order=inreverse)\n\nprint(\"Accendo prima nuvola\")\nwith canvas(device) as draw:\n    draw.point((2, 6), fill=\"white\")\n    draw.point((2, 5), fill=\"white\")\n\nreturn msg","outputs":1,"x":800,"y":500,"wires":[["2af3c201.1e4b0e"]]},{"id":"2af3c201.1e4b0e","type":"python-function","z":"de29fb9a.a854f8","name":"Cloud at 23:00","func":"import time\nfrom luma.led_matrix.device import max7219\nfrom luma.core.interface.serial import spi, noop\nfrom luma.core.legacy import show_message\nfrom luma.core.legacy.font import proportional, CP437_FONT\nfrom luma.core.render import canvas\nfrom luma.core.virtual import viewport\n\nserial = spi(port=0, device=0, gpio=noop())\nn = 1\nblock_orientation = 0\nrotate = 0\ninreverse = False\ndevice = max7219(serial, cascaded=n or 1, block_orientation=block_orientation,\n                     rotate=rotate or 0, blocks_arranged_in_reverse_order=inreverse)\n\nprint(\"Accendo prima nuvola\")\nwith canvas(device) as draw:\n    draw.point((3, 6), fill=\"white\")\n    draw.point((3, 5), fill=\"white\")\n\nreturn msg","outputs":1,"x":800,"y":680,"wires":[[]]},{"id":"296f2284.de7aee","type":"function","z":"9596c410.fe1e08","name":"global set icons","func":"var icons = [];\nglobal.set('icons',icons);\n\nvar newmsg = msg;\nreturn newmsg;","outputs":1,"noerr":0,"x":236,"y":280,"wires":[["48296aee.051514","631db46f.16a12c"]]},{"id":"631db46f.16a12c","type":"debug","z":"9596c410.fe1e08","name":"global set icons debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":240,"y":360,"wires":[]},{"id":"6d347571.79125c","type":"function","z":"29e98dcf.49cdd2","name":"Sun at 08:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 0,\n             'y': 7\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1030,"y":80,"wires":[["33f56069.f0cd5"]]},{"id":"c25bc947.c65638","type":"function","z":"29e98dcf.49cdd2","name":"Cloud at 08:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 0,\n             'y': 6\n             \n         },\n         {\n             'x': 0,\n             'y': 5\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1040,"y":120,"wires":[["33f56069.f0cd5"]]},{"id":"5dc4d062.c26c9","type":"function","z":"9596c410.fe1e08","name":"global push icons","func":"var icons = global.get('icons');\n\nnode.warn(\"PRE global icons length=\" + icons.length + \", local icons length=\" + msg.icons.length);\n\nvar i;\nfor (i = 0; i < msg.icons.length; i++) {\n    node.warn(\"x=\" + msg.icons[i].x + \", y=\" + msg.icons[i].y);\n\n    var newmsg = {\n\t'x': msg.icons[i].x,\n\t'y': msg.icons[i].y\n    }\n    \n    icons.push(JSON.stringify(newmsg));\n    node.warn(\"icons print=\" + icons.toString());\n}\n\nnode.warn(\"POST global icons length=\" + icons.length + \", local icons length=\" + msg.icons.length);\n\nglobal.set('icons',icons);\n\nvar msgbck=msg;\nreturn msgbck;","outputs":1,"noerr":0,"x":2850,"y":760,"wires":[["18b73548.99052b","2d744eeb.1f1592"]]},{"id":"df15f705.6356e8","type":"function","z":"29e98dcf.49cdd2","name":"Rain at 08:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 0,\n             'y': 4\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1030,"y":160,"wires":[["33f56069.f0cd5"]]},{"id":"564a83e2.2ee8dc","type":"function","z":"29e98dcf.49cdd2","name":"Snow at 08:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 0,\n             'y': 3\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1040,"y":200,"wires":[["33f56069.f0cd5"]]},{"id":"6d58371.7408cc8","type":"function","z":"29e98dcf.49cdd2","name":"Sun at 14:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 1,\n             'y': 7\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1030,"y":260,"wires":[["33f56069.f0cd5"]]},{"id":"e2fb0047.7921f","type":"function","z":"29e98dcf.49cdd2","name":"Cloud at 14:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 1,\n             'y': 6\n             \n         },\n         {\n             'x': 1,\n             'y': 5\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1040,"y":300,"wires":[["33f56069.f0cd5"]]},{"id":"d977767a.d99748","type":"function","z":"29e98dcf.49cdd2","name":"Rain at 14:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 1,\n             'y': 4\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1030,"y":340,"wires":[["33f56069.f0cd5"]]},{"id":"853b3f7d.e96e2","type":"function","z":"29e98dcf.49cdd2","name":"Snow at 14:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 1,\n             'y': 3\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1040,"y":380,"wires":[["33f56069.f0cd5"]]},{"id":"4cf37f41.57a81","type":"function","z":"29e98dcf.49cdd2","name":"Sun at 20:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 2,\n             'y': 7\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1030,"y":440,"wires":[["33f56069.f0cd5"]]},{"id":"548e01ed.e5bfe","type":"function","z":"29e98dcf.49cdd2","name":"Cloud at 20:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 2,\n             'y': 6\n             \n         },\n         {\n             'x': 2,\n             'y': 5\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1040,"y":480,"wires":[["33f56069.f0cd5"]]},{"id":"1995b804.b7ff48","type":"function","z":"29e98dcf.49cdd2","name":"Rain at 20:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 2,\n             'y': 4\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1030,"y":520,"wires":[["33f56069.f0cd5"]]},{"id":"ed8d5d41.3ff6e","type":"function","z":"29e98dcf.49cdd2","name":"Snow at 20:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 2,\n             'y': 3\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1040,"y":560,"wires":[["33f56069.f0cd5"]]},{"id":"ac8a10c4.5b80a","type":"function","z":"29e98dcf.49cdd2","name":"Sun at 23:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 3,\n             'y': 7\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1030,"y":620,"wires":[["33f56069.f0cd5"]]},{"id":"f5c5d2b6.28068","type":"function","z":"29e98dcf.49cdd2","name":"Cloud at 23:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 3,\n             'y': 6\n             \n         },\n         {\n             'x': 3,\n             'y': 5\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1040,"y":660,"wires":[["33f56069.f0cd5"]]},{"id":"af6a4dec.9bdbb","type":"function","z":"29e98dcf.49cdd2","name":"Rain at 23:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 3,\n             'y': 4\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1030,"y":700,"wires":[[]]},{"id":"cb65f723.c92408","type":"function","z":"29e98dcf.49cdd2","name":"Snow at 23:00","func":"var newmsg = {\n    'icons':[\n         {\n             'x': 3,\n             'y': 3\n             \n         }\n    ]\n}  \n\nreturn newmsg;","outputs":1,"noerr":0,"x":1040,"y":740,"wires":[["33f56069.f0cd5"]]},{"id":"33f56069.f0cd5","type":"debug","z":"29e98dcf.49cdd2","name":"x,y array debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1380,"y":340,"wires":[]},{"id":"b96e1bce.02a5f8","type":"python-function","z":"9596c410.fe1e08","name":"Switch on leds","func":"import time\nimport json\nfrom luma.led_matrix.device import max7219\nfrom luma.core.interface.serial import spi, noop\nfrom luma.core.legacy import show_message\nfrom luma.core.legacy.font import proportional, CP437_FONT\nfrom luma.core.render import canvas\nfrom luma.core.virtual import viewport\n\nserial = spi(port=0, device=0, gpio=noop())\nn = 1\nblock_orientation = 0\nrotate = 0\ninreverse = False\ndevice = max7219(serial, cascaded=n or 1, block_orientation=block_orientation,\n                     rotate=rotate or 0, blocks_arranged_in_reverse_order=inreverse)\n\nprint(\"Print string=\",msg[\"icons\"])\n#with canvas(device) as draw:\n#    draw.point((0, 7), fill=\"white\")\n\n#res = json.dumps(msg)\n#print(\"res=\",res)\n#newres = json.loads(res)\n#print(\"newres=\",newres)\n\nwith canvas(device) as draw:\n    for icon in msg[u\"icons\"]:\n        print (\"icon=\", icon)\n        newicon = json.loads(icon)\n        #print(\"newnicon[x]=\",newicon[\"x\"])\n        print(\"Switch on led at x=\",newicon[\"x\"],\",y=\",newicon[\"y\"])\n        draw.point((newicon[\"x\"], newicon[\"y\"]), fill=\"white\")\n\nreturn msg","outputs":1,"x":3500,"y":940,"wires":[[]]},{"id":"18b73548.99052b","type":"debug","z":"9596c410.fe1e08","name":"global push icons debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3130,"y":760,"wires":[]},{"id":"e235e4db.3a25d8","type":"simple-queue","z":"9596c410.fe1e08","name":"push icons queue","firstMessageBypass":false,"bypassInterval":"0","x":2570,"y":760,"wires":[["5dc4d062.c26c9","af6e55aa.94a1d8"]]},{"id":"e7378d3d.72b5f","type":"change","z":"9596c410.fe1e08","name":"set msg.trigger to 1","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2710,"y":940,"wires":[["e235e4db.3a25d8","6e7334bf.b434dc"]]},{"id":"2d744eeb.1f1592","type":"switch","z":"9596c410.fe1e08","name":"","property":"_queueCount","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2990,"y":840,"wires":[["e7378d3d.72b5f","2a9045cc.07841a"],["9a00a269.421f5","f84c9af4.d537e8"]]},{"id":"2a9045cc.07841a","type":"debug","z":"9596c410.fe1e08","name":"_queueCount > 0 debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3220,"y":834,"wires":[]},{"id":"9a00a269.421f5","type":"debug","z":"9596c410.fe1e08","name":"_queueCount = 0 debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3370,"y":880,"wires":[]},{"id":"6e7334bf.b434dc","type":"debug","z":"9596c410.fe1e08","name":"set msg.trigger to 1 debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2950,"y":980,"wires":[]},{"id":"af6e55aa.94a1d8","type":"debug","z":"9596c410.fe1e08","name":"push icons queue debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2870,"y":660,"wires":[]},{"id":"f84c9af4.d537e8","type":"function","z":"9596c410.fe1e08","name":"global get icons","func":"var icons = global.get('icons');\nvar newmsg = {'icons': icons };\nreturn newmsg;","outputs":1,"noerr":0,"x":3240,"y":940,"wires":[["b96e1bce.02a5f8","ede70582.edbd58"]]},{"id":"ede70582.edbd58","type":"debug","z":"9596c410.fe1e08","name":"global get icons debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3500,"y":1000,"wires":[]}]